.projects{
    height: 100vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.filter{
    display: flex;
    gap: 5px;
}

.filter label, .filter span{
    font-size: 24px;
    color: var(--white);
    opacity: 0.6;
    
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label{
    color: var(--yellow);
    opacity: 1;
    
}
#carouselControll button{
    cursor: pointer;
    border: none;
    background: var(--black);

}
#carouselControll button div{
    width: 40px;
    height: 40px;
    
    background-size: cover;
}

#leftArrow{
    background: url('assets/left-arrow.png') no-repeat;
}

#rightArrow{
    background: url('assets/right-arrow.png') no-repeat;
}

#leftArrow:hover{
    background-image: url('assets/yellow-left-arrow.png');
}

#rightArrow:hover{
    background-image: url('assets/yellow-right-arrow.png');
}
#carouselControll button > div :hover{
    cursor: pointer;
    border: none;
    background-image: var(--black);

}
.filter label:hover{
    cursor: pointer;
    color:var(--yellow)
}

#carousel{
    width: 85vw;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 30px;
}
