.skills{
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 100px;
}


.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    
}

.cardsContainer::-webkit-scrollbar{
   display: none;
} 

.skillCard{
    display: flex;
    width: 200px;
    padding: 10px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #1C1C1B;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

.skillCard img{
    width: 60%;
    height: auto;
}
.skillCard:hover{
    border-radius: 5px;
    background: linear-gradient(-220deg, rgba(234,175,64,1) 32%, rgba(209,183,43,0.9467436632856268) 56%, rgba(43,41,41,1) 88%);
}

@media (max-width: 660px) {

    .skills{
        gap: 50px;
    }

    .cardsContainer{
        width: 100vw;
        max-height: 450px;
        overflow-y: scroll;
    }
}


@media (max-width: 460px){
    .cardsContainer{
        gap: 10px;
    }
    .skillCard img{
        width: 45%;
        height: auto;
    }

    .skillCard{
        width: 120px;
        height: 120px;
        justify-content: center;
        gap: 20px;
        font-size: 14px;    
        text-transform: lowercase;
    }
}
