.aboutSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 150px;
    gap: 35px;

}

#arrowDown{
    width: 70%;
    height: 70%;
    
}
.dotsWrapper{
    width: 100%;
}

#rightWrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.dotsContainer{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: fit-content;
    height: 40px;
    
}

.interactiveDot{
    height: 30px;
    width: 30px;
    background-color: var(--yellow);
    border-radius: 200%;
    transition: transform 0.3s ease-out;
}

.trigger:hover > .interactiveDot{
    transform:translateY(-25px)
}

.textContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    font-size: 24px;

}


#aboutp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    
}

#readMore, #readLess{
    cursor: pointer;
    width: 19px;
}

#readMore{
    transform: rotate(180deg)
}

.textContent span{
    color: var(--yellow);
    font-weight: 700;
}

#linkToCV{
    display: flex;
    align-items: center;
    text-align: left;
    height: 45px; 
    width: 100%;
    border-left: 6px solid var(--yellow);
    
    text-transform: uppercase;
}

#linkToCV a{
    text-decoration: none;
    color: white;
    padding-left: 10px
}

#linkToCV a:hover {
    font-style: italic;
    color: var(--yellow)
}

@media screen and (max-width: 950px) {

    .aboutSection{
        padding: 5px 80px;
    }
   
}

@media screen and (max-width: 600px) {
    .aboutSection{
        padding: 5px 30px;
    }
    .textContent{
        font-size: 20px;
        word-break: break-all;
        
    }
}

@media screen and (max-width: 420px) {
    .aboutSection{
        padding: 5px 10px;
    }

    #arrowDown{
        width: 70px;
        height: auto;
        
    }
    .textContent{
        font-size: 16px;
        gap: 30px;
    }
}