header{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 5;
    margin-bottom: 30px;
    background-color: #1C1C1B;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: fit-content;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 40px;
}

.logo{
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 900;
}

.logo strong{
    font-size: 32px;
    color: var(--yellow);
}


nav a{
    margin-right: 50px;
    color: var(--white);
    text-decoration: none;
}

nav a:hover, li:hover{
    color: var(--yellow);
    cursor: pointer;
}
header img{
    max-width: 26px;
    max-height: auto;
}

ul{
    list-style: none;
    
}