.contactMe{
    display: flex;
    height: 90vh;
    width: 100vw;
    gap: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: space-between;
    
}

#content{
    background-color: #1C1C1B;
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    box-shadow: 5px 5px 4px 10px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    padding: 50px 50px 0px 50px;
}

.extra{
    display: flex;
    max-height: 50%;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid red;

}

.extra img{
    max-width:30%;
    max-height: auto;
}


