#contactMe{
    display: flex;
}

#contactMe{
    height: 100vh;
    width: 100vw;
    gap: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: space-between;
    
}

#content{
    background-color: #1C1C1B;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px 10px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    padding: 50px 50px 0px 50px;
}

.extra{
    display: flex;
    align-items: flex-end;

}

.extra img{
    max-width: 500px;
    max-height: 390px;
}
.extra .result{

    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding-bottom: 50px;

}
.extra p{
    border-radius: 10px;
    padding-left: 10px;
    max-width: 340px;
}

#goodResult, #badResult{
    line-height: 30px;
}
.extra #goodResult{
    color: #75b37a;
    border-left: 10px solid #108b1a;
}
.extra #badResult{
    color: #ee6056;
    border-left: 10px solid #dd1405;
}